* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {padding: 10px; }

.color-picker {
  display: flex;
  flex-direction: column;
}

.color-picker--red .ui-slider-range { background: #ef2929; }
.color-picker--red  .ui-slider-handle { border-color: #ef2929; }
.color-picker--green .ui-slider-range { background: #8ae234; }
.color-picker--green .ui-slider-handle { border-color: #8ae234; }
.color-picker--blue .ui-slider-range { background: #729fcf; }
.color-picker--blue .ui-slider-handle { border-color: #729fcf; }

.color-picker__radio-buttons { padding: 10px; }
.color-picker__container > * { margin: 25px 10px 0; }
.color-picker__container { flex-basis: 40%; }
.color-picker__wrapper { display: flex; }

.color-picker__text {
  flex-basis: 30%;
  margin: 10px;
  border: 2px grey solid;
  border-radius: 5px;
  padding: 10px 0;
}


